<!DOCTYPE html>
<html>
<head>
    <title>Upload Data</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
 </head>
<body>
    <h1>Data Upload</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="eomData" required>
        <input type="file" name="RadialData" required>
        <button type="submit">Upload</button>
    </form>
</body>
</html>
